<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favoritos - InnovaTube</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="register.html">Registro</a></li>
            <li><a href="login.html">Inicio de sesión</a></li>
            <li><a href="favorites.html">Favoritos</a></li>
        </ul>
    </nav>
    <h2>Mis Favoritos</h2>
    <div id="favorites"></div>

    <script src="../js/main.js"></script>
</body>

</html>