<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InnovaTube</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="view/html/register.html">Registro</a></li>
            <li><a href="view/html/login.html">Inicio de sesión</a></li>
            <li><a href="view/html/favorites.html">Favoritos</a></li>
        </ul>
    </nav>
    <h1>InnovaTube</h1>
    <h2>Buscar Videos</h2>
    <form id="searchForm">
        <input type="text" id="query" placeholder="Buscar videos..." required>
        <button type="submit">Buscar</button>
    </form>

    <h2>Resultados de la Búsqueda</h2>
    <div id="results"></div>


    <script src="search.js"></script>
</body>

</html>